<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Photos Library Sort Helper</string>
	<key>CFBundleExecutable</key>
	<string>PhotosLibrarySortHelper</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.jkfisher.photoslibrarysorthelper</string>
	<key>CFBundleName</key>
	<string>Photos Library Sort Helper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 John Kenneth Fisher. All rights reserved.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photos Library Sort Helper needs permission to add items you mark into review albums like Files to Edit and Files to Manually Delete.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos Library Sort Helper needs access to your photo library to find similar photos for review.</string>
</dict>
</plist>
